/* login.css */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50; /* Color verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049; /* Color verde más oscuro al pasar el ratón */
}

.link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.link a {
    color: #007bff;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
